<p id="notice"><%= notice %></p>

<div class="container-fluid">

<div class="row">
  <div class="col-xs-6 col-md-6 col-lg-6">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Grupo: </strong><%= @group.name%></h3>
      </div>
      <div class="panel-body">
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td> Miembros: <%= @group.users.count %></td>
                  <td> Ubicación: <%= @group.address %></td>

                  <td> Tiempo de Recuperación: <%= @group.recovery_time %> meses</h3></td>
                  <td> Inversión Total: <%= number_to_currency_ch(@group.total_investment) %></h3></td>
                  <td> Inversión Mínima: <%= number_to_currency_ch(@group.minimal_investment) %></h3></td>

                </tr>



              </tbody>
            </table>


            <% if @group.host_id != current_user.id %>
            <%= link_to 'Unirse!', join_group_path(@group) %>
            <% end %>
            <% if @group.host_id == current_user.id %>
            <%= link_to 'Editar', edit_group_path(@group) %> |
            <% end %>
            <%= link_to 'Atrás', groups_path%>
          </div>
        </div>
    

    </div>
  </div>

  <div class="col-xs-6 col-md-6 col-lg-6 text-center">


    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
  </div>











<script type="text/javascript">

handler = Gmaps.build('Google');
handler.buildMap({ provider: { mapTypeId: google.maps.MapTypeId.SATELLITE},
                               internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>
